body {
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

/*text glow effect*/
.glow {
  font-size: 36px;
  font-weight: bold;
  font-family: sans-serif;

  color: #fff;
  text-shadow: 
    0 0 4px #0ff,   /* Light glow */
    0 0 8px #0ff,   /* Medium glow */
    0 0 12px #0ff,  /* Stronger glow */
    0 0 16px #0ff;  /* Very strong glow */
}

/*button glow effect*/
.glow-button {
  padding: 12px 24px;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;

  background: none;
  color: #ff00ff;
  text-shadow: 
    0 0 4px #ff00ff,   /* Light glow */
    0 0 8px #ff00ff,   /* Medium glow */
    0 0 12px #ff00ff,  /* Stronger glow */
    0 0 16px #ff00ff;  /* Very strong glow */
  border: solid 1px #ff00ff;

  box-shadow: 
    inset 0 0 8px #ff00ff,    /* Light inner glow */
    0 0 15px #ff00ff,   /* Medium outer glow */
    0 0 20px #ff00ff,   /* Stronger outer glow */
    inset 0 0 30px #ff00ff;   /* Very strong outer glow */
}

/*flicker animation*/
@keyframes flicker {
  0%, 100% { opacity: 1; }
  30% { opacity: 0.7; }
  50% { opacity: 1; }
  70% { opacity: 0.8; }
  90% { opacity: 0.5; }
}

.flicker-element {
  animation: flicker 4s infinite;  /* Flicker over 4 seconds endlessly */
}